<script setup>
import { Link, router, } from '@inertiajs/vue3';
import HsLayout from '@/Layouts/HsLayout.vue';
import { useHsStore } from '@/Store/hsStore.js';
import { ref, reactive, computed, onMounted } from 'vue'

const hsStore = useHsStore()
const picture = reactive({})
const plant = reactive({})
const afters = reactive({})
const profile = reactive({})

onMounted(async () => {
    hsStore.registerPlantFound()
    picture.value = hsStore.pictureTaken
    plant.value = hsStore.currentChallenge?.value
    afters.value = plant.value.hs_plant_definition_indication.filter(node => node.step == 'after')
    profile.value = hsStore.selectedProfile

})

const next = () => { 
    hsStore.clear()
    return route('hs_reinit', profile?.value?.id ?? 0)
}
const leave = () => { return route('dashboard')}
</script>
<template>
    <HsLayout>
        <div style="display: flex; justify-content: space-between">
            <Link :href="next()">
                OK
            </Link>
        </div>
        <img :src="plant.value?.plant_definition?.picture" :alt="plant?.plant_definition?.name" style="max-height: 30vh;">
        <p>
            {{ plant.value?.plant_definition?.description }}
        </p>
        <ul>
            <li v-for="after of afters.value"> {{ after.message }}</li>
        </ul>
    </HsLayout>
</template>