<script setup>
import { Head, Link, router, } from '@inertiajs/vue3';
import ContainerInformation from '@/Layouts/ContainerInformation.vue';
import GoBack from "@/Components/DesignSystem/Buttons/GoBack.vue";
import { useHsStore } from '@/Store/hsStore.js';
import { ref, reactive, computed, onMounted } from 'vue'
import HsLayout from '@/Layouts/HsLayout.vue';
import MainButton from '../../Components/DesignSystem/Buttons/MainButton.vue';
const hsStore = useHsStore()
const plant = reactive({})
const picture = reactive({})
const profile = reactive({})

onMounted(async () => {
    plant.value = hsStore.currentChallenge.value
    picture.value = hsStore.pictureTaken
    profile.value = hsStore.selectedProfile

})
const refuse = () => {
    window.history.back();
}
const approve = () => {
    
    router.get(route('hs_debrief'));
}
</script>
<template>
    <HsLayout>
        <div style="display: flex; justify-content: space-between">
            <MainButton class="ml-3" template="rounded-button-orange"
                    @click="refuse">
                Refuser
            </MainButton>
            <MainButton class="ml-3" template="rounded-button-green"
                    @click="approve">
                    Valider
            </MainButton>
        </div>
        <p>
            Vous deviez trouver ceci <span>{{ plant?.value?.plant_definition?.name }}</span>
            <img :src="plant.value?.plant_definition?.picture" :alt="plant?.plant_definition?.name" style="max-height: 30vh;">
        </p>
        <p>
            Vous avez trouver ceci 
            <img :src="picture?.value?.image" :alt="plant?.value?.plant_definition?.name" style="max-height: 30vh;">
            <span>Latitude {{ picture?.value?.latitude }}</span>
            <span>Longitude {{ picture?.value?.longitude }}</span>

        </p>
    </HsLayout>
</template>