<script setup>
import {  computed } from 'vue'
const props = defineProps({
    profile: Object,
    level: String,
    startGame: { type: Boolean, default: false}
})


const background_avatar = computed(() => {
  return "width:64px;height:64px;background-image: url('"+props.profile?.profile_picture+"')"
})
</script> 

<template>

    <div class="flex justify-between items-center gap-0.5">
        <button class="rounded-full bg-no-repeat bg-center bg-cover" :style="background_avatar">
        </button>
        <span>{{ profile?.name }}</span>
        <slot v-if="startGame" />
        <span v-else> {{ level }}</span>
    </div>
</template>