<script setup>
import { ref } from 'vue';
import { useForm } from '@inertiajs/vue3';
import ActionSection from '@/Components/ActionSection.vue';
import DangerButton from '@/Components/DesignSystem/Buttons/DangerButton.vue';
import DialogModal from '@/Components/DialogModal.vue';
import InputError from '@/Components/InputError.vue';
import ThirdButton from '@/Components/DesignSystem/Buttons/ThirdButton.vue';
import TextInput from '@/Components/DesignSystem/Input/TextInput.vue';

const confirmingUserDeletion = ref(false);
const passwordInput = ref(null);

const form = useForm({
    password: '',
});

const confirmUserDeletion = () => {
    confirmingUserDeletion.value = true;

    setTimeout(() => passwordInput.value.focus(), 250);
};

const deleteUser = () => {
    form.delete(route('current-user.destroy'), {
        preserveScroll: true,
        onSuccess: () => closeModal(),
        onError: () => passwordInput.value.focus(),
        onFinish: () => form.reset(),
    });
};

const closeModal = () => {
    confirmingUserDeletion.value = false;

    form.reset();
};
</script>

<template>
    <ActionSection>
        <template #title>
            Suppression du compte
        </template>

        <template #description>
            Supprimer définitivement le compte.
        </template>

        <template #content>
            <div class="max-w-xl text-sm text-gray-600">
                Une fois le compte supprimé, toutes ses ressources et données seront définitivement effacées. Avant de
                supprimer
                le compte, merci de télécharger toutes les données ou informations que tu souhaites conserver.
            </div>

            <div class="mt-5">
                <DangerButton @click="confirmUserDeletion">
                    Supprimer mon compte
                </DangerButton>
            </div>

            <!-- Delete Account Confirmation Modal -->
            <DialogModal :show="confirmingUserDeletion" @close="closeModal">
                <template #title>
                    Suppression du compte
                </template>

                <template #content>
                    Es-tu sûr de vouloir supprimer ton compte ? Une fois ton compte supprimé, toutes les
                    ressources et données seront définitivement effacées. Saisis ton mot de passe pour confirmer que tu
                    souhaites supprimer définitivement ton compte. <div class="mt-4">
                        <TextInput ref="passwordInput" v-model="form.password" type="password" class="mt-1 block w-3/4"
                            placeholder="Mot de passe" autocomplete="current-password" @keyup.enter="deleteUser" />

                        <InputError :message="form.errors.password" class="mt-2" />
                    </div>
                </template>

                <template #footer>
                    <ThirdButton @click="closeModal">
                        Annuler
                    </ThirdButton>

                    <DangerButton class="ml-3" :class="{ 'opacity-25': form.processing }" :disabled="form.processing"
                        @click="deleteUser">
                        Supprimer mon compte
                    </DangerButton>
                </template>
            </DialogModal>
        </template>
    </ActionSection>
</template>
