<script setup>
import { ref } from 'vue';
import { useForm } from '@inertiajs/vue3';
import ActionMessage from '@/Components/ActionMessage.vue';
import FormSection from '@/Components/FormSection.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/DesignSystem/Input/TextInput.vue';
import {showPassword, togglePasswordVisibility, generatePassword} from "@/Commons/passwordGenerator.js"
import IconTextInput from '@/Components/DesignSystem/Input/IconTextInput.vue';
import MainButton from '@/Components/DesignSystem/Buttons/MainButton.vue';

const passwordInput = ref(null);
const currentPasswordInput = ref(null);

const form = useForm({
    current_password: '',
    password: '',
    password_confirmation: '',
});

const updatePassword = () => {
    form.put(route('user-password.update'), {
        errorBag: 'updatePassword',
        preserveScroll: true,
        onSuccess: () => form.reset(),
        onError: () => {
            if (form.errors.password) {
                form.reset('password', 'password_confirmation');
                passwordInput.value.focus();
            }

            if (form.errors.current_password) {
                form.reset('current_password');
                currentPasswordInput.value.focus();
            }
        },
    });
};
</script>

<template>
    <FormSection @submitted="updatePassword">
        <template #title>
            Changer de mot de passe
        </template>

        <template #description>
            Le mot de passe doit contenir au moins 14 caractères. Petit tips : Essaye d’écrire une phrase facile à retenir !
        </template>

        <template #form>
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="current_password" value="Mot de passe actuel" />
                <TextInput id="current_password" ref="currentPasswordInput" v-model="form.current_password" type="password"
                    class="mt-1 block w-full" autocomplete="current-password" />
                <InputError :message="form.errors.current_password" class="mt-2" />
            </div>

            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="password" value="Nouveau mot de passe" />
                <IconTextInput 
                        id="password" 
                        v-model="form.password" 
                        :type="showPassword ? 'text' : 'password'" 
                        class="mt-1 block w-full" 
                        required 
                        autocomplete="new-password" 
                        placeholder="Nouveau mot de passe"
                        @iconClick="generatePassword(form)"
                        >
                        <template #icon>
                            <img src="/GraphicRessources/Icons/DiceIcon.svg" alt="icone dés" class="object-contain w-full h-full"/>
                        </template>
                    </IconTextInput>
                <InputError :message="form.errors.password" class="mt-2" />
            </div>

            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="password_confirmation" value="Confirmation du  mot de passe " />
                        <IconTextInput 
                            id="password_confirmation" 
                            v-model="form.password_confirmation" 
                            :type="showPassword ? 'text' : 'password'" 
                            class="mt-1 block w-full " 
                            required 
                            autocomplete="new-password" 
                            placeholder="Confirmes ton mot de passe"
                            @iconClick="togglePasswordVisibility"
                            >

                            <template #icon>
                            <img src="/GraphicRessources/Icons/ClosedEyeIcon.svg" class="object-contain w-full h-full" alt="icone oeil fermé" v-if="showPassword">
                            <img src="/GraphicRessources/Icons/EyeIcon.svg" class="object-contain w-full h-full" alt="icone oeil" v-else>
                            </template>
                        </IconTextInput>
                <InputError :message="form.errors.password_confirmation" class="mt-2" />
            </div>
        </template>

        <template #actions>
            <MainButton type="submit">
                Mettre à jour  
            </MainButton>
            <ActionMessage :on="form.recentlySuccessful" class="ml-3 text-xs">
                Mot de passe mis à jour avec succès.
            </ActionMessage>
        </template>
    </FormSection>
</template>
