<script setup>
import { ref, watch, computed } from 'vue';
import TextInput from "@/Components/DesignSystem/Input/TextInput.vue";
import InputError from "@/Components/InputError.vue";

const props = defineProps({
  form: Object,
});

const emit = defineEmits(['updateFormData', 'updateTitle']);

const zipcode = ref(props.form.zipcode);

const allErrors = computed(() => {
  return Object.values(props.form.errors).flat();
});

watch(zipcode, (newValue) => {
  emit('updateFormData', { zipcode: newValue });
});

emit('updateTitle', { title: 'Emplacement de votre jardin', description: "Il est possible de fournir cette information ultérieurement dans les paramètres si vous le souhaitez :)" });
</script>

<template>
  <div class="flex flex-col items-center">
    <img src="/GraphicRessources/Icons/HomeIcon.svg" alt="icone maison" class="mb-5 md:mb-10 w-9/12 md:5/12 object-contain" />
    <form class="w-full mb-6">
      <div>
        <TextInput placeholder="Entre ton code postal" type="number" id="zipcode" v-model.number="zipcode" />
      </div>
    </form>
    <InputError class="mt-2" :message="allErrors" v-if="allErrors.length > 0" />
  </div>
</template>