<script setup>
import { ref } from 'vue';
import { useForm } from '@inertiajs/vue3';
import { useGardenStore } from '@/Store/gardenStore';

import ActionSection from '@/Components/ActionSection.vue';
import ConfirmationModal from '@/Components/ConfirmationModal.vue';
import DangerButton from '@/Components/DesignSystem/Buttons/DangerButton.vue';
import ThirdButton from '@/Components/DesignSystem/Buttons/ThirdButton.vue';

const props = defineProps({
    team: Object,
});

const gardenStore = useGardenStore();
const userId = props.team.user_id; 
const gardenId = props.team.id;

const confirmingTeamDeletion = ref(false);
const form = useForm({});

const confirmTeamDeletion = () => {
    confirmingTeamDeletion.value = true;
};

const deleteTeam = () => {
    form.delete(route('gardens.destroy', props.team), {
        errorBag: 'deleteTeam',
    });

    gardenStore.deleteGarden(userId, gardenId);
};
</script>

<template>
    <ActionSection>
        <template #title>
            Supprimer le jardin
        </template>

        <template #description>
            Supprimer le jardin de manière permanente.
        </template>

        <template #content>
            <div class="max-w-xl text-sm text-gray-600">
                Avant de supprimer une équipe, veuillez télécharger toutes les données ou informations concernant cette équipe que vous souhaitez conserver, car une fois l'équipe supprimée, toutes ses ressources et données seront définitivement effacées.
            </div>

            <div class="mt-5">
                <DangerButton @click="confirmTeamDeletion">
                    Supprimer le jardin
                </DangerButton>
            </div>

            <!-- Delete Team Confirmation Modal -->
            <ConfirmationModal :show="confirmingTeamDeletion" @close="confirmingTeamDeletion = false">
                <template #title>
                    Supprimer le jardin
                </template>

                <template #content>
                    Êtes-vous sur de vouloir supprimer ce jardin ? Une fois supprimé, toutes les données seront supprimées de manière permanente.
                </template>

                <template #footer>
                    <ThirdButton @click="confirmingTeamDeletion = false">
                        Annuler
                    </ThirdButton>

                    <DangerButton
                        class="ml-3"
                        :class="{ 'opacity-25': form.processing }"
                        :disabled="form.processing"
                        @click="deleteTeam"
                    >
                        Supprimer le jardin
                    </DangerButton>
                </template>
            </ConfirmationModal>
        </template>
    </ActionSection>
</template>
