<script setup>
import { useForm } from '@inertiajs/vue3';
import { useGardenStore } from '@/Store/gardenStore';
import ActionMessage from '@/Components/ActionMessage.vue';
import FormSection from '@/Components/FormSection.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import SubmitButton from '@/Components/DesignSystem/Buttons/SubmitButton.vue';
import TextInput from '@/Components/DesignSystem/Input/TextInput.vue';

const props = defineProps({
    team: Object,
    permissions: Object,
});

const gardenStore = useGardenStore();
const userId = props.team.user_id; 
const gardenId = props.team.id;

const form = useForm({
    name: props.team.name,
    zipcode: gardenStore.getZipcode(userId, gardenId),
});

const validateZipcode = (zipcode) => {
    if (zipcode === '') {
        return true;
    }
    const zipcodePattern = /^\d{5}$/;
    return zipcodePattern.test(zipcode);
};

async function saveZipcodeAndInitializeGarden(zipcode) {
  const success = gardenStore.saveZipcodeLocalStorage(zipcode);
  if (success) {
    await gardenStore.saveZipcodeDatabase(zipcode);
    console.log("Stored in database: ", gardenStore.saveZipcodeDatabase(zipcode));
    gardenStore.initializeGarden(props.team);
  } else {
    console.error("Failed to save zipcode and initialize garden");
  }
}

const updateTeamName = () => {
    if (!validateZipcode(form.zipcode)) {
        form.setError('zipcode', 'Le code postal doit être composé de 5 chiffres.');
        return;
    }

    form.put(route('gardens.update', props.team), {
        errorBag: 'updateTeamName',
        preserveScroll: true,
    });

    saveZipcodeAndInitializeGarden(form.zipcode);
};
</script>

<template>
    <FormSection @submitted="updateTeamName">
        <template #title>
            Nom du jardin
        </template>

        <template #description>
            Nom du jardin et informations sur le propriétaire.
        </template>

        <template #form>
            <!-- Team Owner Information -->
            <div class="col-span-6">
                <InputLabel value="Propriétaire du jardin" />

                <div class="flex items-center mt-2">
                    <img class="w-12 h-12 rounded-full object-cover" :src="team.owner.profile_photo_url"
                        :alt="team.owner.name">

                    <div class="ml-4 leading-tight">
                        <div class="text-gray-900">{{ team.owner.name }}</div>
                        <div class="text-gray-700 text-sm">
                            {{ team.owner.email }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Garden Name -->
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="name" value="Nom du jardin" />

                <TextInput id="name" v-model="form.name" type="text" class="mt-1 block w-full"
                    :disabled="!permissions.canUpdateTeam" />

                <InputError :message="form.errors.name" class="mt-2" />
            </div>
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="zipcode" value="Code postal *Facultatif" />
                <TextInput id="zipcode" v-model="form.zipcode" type="number" class="block w-full mt-1" autofocus />
                <InputError :message="form.errors.zipcode" class="mt-2" />
            </div>
        </template>

        <template v-if="permissions.canUpdateTeam" #actions>
            <ActionMessage :on="form.recentlySuccessful" class="mr-3">
                Sauvegardé.
            </ActionMessage>

            <SubmitButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Sauvegarder
            </SubmitButton>
        </template>
    </FormSection>
</template>