<script setup>
import { Link } from "@inertiajs/vue3";
import GoToLibraryButton from "@/Components/DesignSystem/Buttons/GoToLibraryButton.vue";
import GoToHSButton from "@/Components/DesignSystem/Buttons/GoToHSButton.vue";
</script>

<template>
    <div
        class="hidden lg:flex items-center justify-center w-full min-h-panel menu-size bg-mustard rounded-lg layout mt-6">
        <div class="w-full flex justify-center">
            <div class="flex flex-wrap w-full justify-between items-baseline px-4 py-6 lg:px-10 gap-y-5">
                <Link :href="route('plant_definitions.show')" class="flex flex-col items-center justify-center w-1/3 mt-2 md:mt-0">
                    <GoToLibraryButton color="#fff" class="w-6"/>
                    <p class="text-center mt-1 font-semibold text-xs text-white">
                        Bibliothèque
                    </p>
                </Link>
                <Link :href="route('hs_home')" class="flex flex-col items-center justify-center w-1/3 mt-2 md:mt-0">
                    <GoToHSButton color="#fff" class="w-6   "/>
                    <p class="text-center mt-1 font-semibold text-xs text-white">
                        Cherche et trouve
                    </p>
                </Link>
                <button class="flex flex-col items-center justify-center w-1/3  mt-2 md:mt-0">
                    <div class="w-8 ml-0.5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24">
                            <path fill="#ffffff"
                                d="M18.5 7.47c-.74.73-.93 1.78-.58 2.68L15 13.07V11c0-.55-.45-1-1-1h-1.03c.03-.17.03-.33.03-.5C13 6.46 10.54 4 7.5 4A5.497 5.497 0 0 0 4 13.74V20c0 .55.45 1 1 1h9c.55 0 1-.45 1-1v-4.11l4.33-4.33c.9.35 1.95.17 2.67-.56zM4.05 10C4.03 9.83 4 9.67 4 9.5C4 7.57 5.57 6 7.5 6S11 7.57 11 9.5c0 .17-.03.33-.05.5M13 19H6v-7h7z" />
                        </svg>
                    </div>
                    <p class="text-center mt-1 font-semibold text-xs text-white">
                        Tâches
                    </p>
                </button>
            </div>
        </div>
    </div>
</template>

