<script setup>
import { ref, onMounted, watchEffect, onUnmounted } from 'vue';
import { useInventoryStore } from '@/Store/inventoryStore.js';

const inventoryStore = useInventoryStore();
const plants = ref([]);
const plantDetails = ref([]);
const scrollContainer = ref(null);
let isOverflowing = ref(false); 

const props = defineProps({
  user: Object,
  plants: Object
});

onMounted(async () => {
  try {
    plants.value = await inventoryStore.fetchPlants(props.user.id);
  } catch (error) {
    console.error('Error during mounted hook:', error);
  }
  isOverflowing.value = scrollContainer.value.scrollWidth > scrollContainer.value.clientWidth;
});

watchEffect(() => {
  try {
    if (inventoryStore.user_inventory && inventoryStore.user_inventory.inventory && inventoryStore.user_inventory.inventory.length > 0) {
      plantDetails.value = inventoryStore.user_inventory.inventory.map(plant => ({
        name: plant.name,
        quantity: plant.count,
        mainPicture: plant.mainPicture
      }));
    }
  } catch (error) {
    console.error('Error during watchEffect:', error);
  }
});

onUnmounted(() => {
  inventoryStore.clearData();
});

const scrollLeft = () => {
  scrollContainer.value.scrollBy({
    top: 0,
    left: -scrollContainer.value.offsetWidth,
    behavior: 'smooth'
  });
};

const scrollRight = () => {
  scrollContainer.value.scrollBy({
    top: 0,
    left: scrollContainer.value.offsetWidth,
    behavior: 'smooth'
  });
};

</script>

<template>
  <div class="rounded-lg bg-white shadow-lg mt-6">
    <div class="flex flex-col w-full rounded-lg overflow-hidden">
      <h3 class="text-center py-1 w-full font-semibold text-lg">Mes plantes</h3>
      <div v-if="plantDetails.length === 0" class="text-center text-main-green text-xxs md:text-sm pb-2">
          Il n'y a pas encore de plante dans votre panier
      </div>
      <div class="relative overflow-hidden">
        <div @click="scrollLeft" v-if="isOverflowing" class="absolute h-full w-5 bg-white left-0 flex justify-center z-40 cursor-pointer">
          <div class="text-orange-500 mb-4 w-2 h-auto object-contain transform hover:-translate-x-0.5 transition-all ease-in-out duration-200">
            <svg width="100%" height="100%" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M8.54289 13.0429C8.93342 13.4334 8.93342 14.0666 8.54289 14.4571L8.20711 14.7929C7.81658 15.1834 7.18342 15.1834 6.79289 14.7929L0.707107 8.70711C0.316583 8.31658 0.316582 7.68342 0.707107 7.29289L6.79289 1.20711C7.18342 0.816584 7.81658 0.816583 8.20711 1.20711L8.54289 1.54289C8.93342 1.93342 8.93342 2.56658 8.54289 2.95711L4.20711 7.29289C3.81658 7.68342 3.81658 8.31658 4.20711 8.70711L8.54289 13.0429Z"
                  fill="black" />
           </svg>
          </div>
        </div>
        <div @click="scrollRight" v-if="isOverflowing" class="absolute h-full w-5 bg-white right-0 flex justify-center z-40 cursor-pointer">
          <div class="text-orange-500 mb-4 w-2 h-auto object-contain transform hover:translate-x-0.5 transition-all ease-in-out duration-200">
            <svg width="100%" height="100%" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="transform scale-x-[-1]">
              <path
                d="M8.54289 13.0429C8.93342 13.4334 8.93342 14.0666 8.54289 14.4571L8.20711 14.7929C7.81658 15.1834 7.18342 15.1834 6.79289 14.7929L0.707107 8.70711C0.316583 8.31658 0.316582 7.68342 0.707107 7.29289L6.79289 1.20711C7.18342 0.816584 7.81658 0.816583 8.20711 1.20711L8.54289 1.54289C8.93342 1.93342 8.93342 2.56658 8.54289 2.95711L4.20711 7.29289C3.81658 7.68342 3.81658 8.31658 4.20711 8.70711L8.54289 13.0429Z"
                fill="black" />
            </svg>
          </div>
        </div>
        <div class="px-5 overflow-hidden">
          <div class="grid grid-flow-col auto-cols-max gap-1.5 lg:gap-3 overflow-x-auto pb-3 pt-1 hide-scrollbar bg-white py-4" ref="scrollContainer">
            <div v-for="(plant, index) in plantDetails" :key="index" class="flex flex-col items-center w-14 md:w-20 ">
              <div class="relative">
                <img :src="plant.mainPicture" class="rounded-full w-10 h-10 lg:w-12 lg:h-12 object-cover" alt="Plant picture">
                <div class="absolute top-0 left-7 lg:left-10 z-10 bg-red-500 text-white rounded-full w-4 h-4 md:w-5 md:h-5 flex items-center justify-center text-xxs md:text-xs">
                  {{ plant.quantity }}
                </div>
              </div>
              <div class="w-full overflow-hidden overflow-ellipsis">
                <p class="text-center mt-2 text-xxs truncate">{{ plant.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
