<script setup>

defineProps({
    saying: {
        type: String,
        default: ''
    }
});
</script>
    
<template>
    <div class="mt-1 mb-2 w-full lg:w-8/12 px-px">
        <p class="text-white text-xs font-semibold">
            "{{ saying }}"
        </p>
    </div>
</template>
