<script setup>
import { computed, watchEffect } from 'vue';
import { usePage, Head } from '@inertiajs/vue3';
import { usePlantStore } from '@/Store/plantStore';
import Header from '@/Components/Header.vue';
import UserMenu from '@/Components/UserMenu.vue';
import GoBack from '@/Components/DesignSystem/Buttons/GoBack.vue';
import MainButton from '@/Components/DesignSystem/Buttons/MainButton.vue';
import ScoreScale from '@/Components/DesignSystem/ScaleWidgets/ScoreScale.vue';
import CounterButton from '@/Components/DesignSystem/Buttons/CounterButton.vue';
import UserProfileButton from '@/Components/DesignSystem/Buttons/UserProfileButton.vue';

const page = usePage();
const plantStore = usePlantStore();

const plant = computed(() => {
  return page.props.plant;
});

watchEffect(() => {
  plantStore.setPlant(plant.value);
});

const user = computed(() => {
  return page.props.user;
});

const data = computed(() => {
  return {
    difficulty_max: page.props.difficulty_max,
    exposition_max: page.props.exposition_max,
    humidity_max: page.props.humidity_max,
    name: plant.value.name,
  };
});


console.log('plantStore.plant', plantStore.plant);

</script>

<template>

  <Head :title="plant.name" />
  <div>
    <Header class="absolute top-0 justify-between md:p-0 z-20">
      <GoBack color="white" />
      <div class="flex justify-end w-1/4">
        <div class="flex items-center gap-4">
          <UserProfileButton class="text-white" />
        </div>
      </div>
    </Header>
    <section class="h-svh-75 md:h-svh-50 ">
      <div class="absolute top-0 flex items-end justify-center h-svh-75 md:h-svh-50 bg-center bg-cover w-screen z-10"
        :style="{ backgroundImage: 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + plant.picture + ')' }">

        <div class="flex flex-col items-center py-6 ">
          <h1 class="text-center px-3 text-white font-bold text-2xl md:text-3xl lg:text-5xl">{{ data.name }}</h1>
          <h3 class="italic font-semibold text-white pt-2 text-lg">{{ plant.latin_name }}</h3>
          <CounterButton :plant="plant" :user="user" />
        </div>
      </div>
    </section>
    <div class="flex flex-col items-center px-4 md:px-16 py-4 md:py-8 bg-linear-background h-svh">
      <div class="flex flex-col w-full md:w-7/12 gap-4 md:gap-12">
        <section>
          <h2 class="font-inter text-2xl md:text-3xl md:text-center mt-6">Caractéristiques</h2>
          <div class="flex flex-row pt-6 gap-3 items-center">
            <div class="flex w-full flex-col gap-2 items-center">
              <ScoreScale :level="plant.requirements.exposition_level" :max="data.exposition_max" layout="sun" />
              <p class="text-xs md:text-base">{{ plant.requirements.exposition_label }}</p>
            </div>
            <div class="flex w-full flex-col gap-2 items-center">
              <ScoreScale :level="plant.requirements.humidity_level" :max="data.humidity_max" layout="water" />
              <p class="text-xs md:text-base">{{ plant.requirements.humidity_label }}</p>
            </div>
            <div class="flex w-full flex-col gap-2 items-center">
              <ScoreScale :level="plant.difficulty.level" :max="data.difficulty_max" layout="dots" />
              <p class="text-xs md:text-base">{{ plant.difficulty.name }}</p>
            </div>
          </div>
          <div class="flex justify-center pt-6">
            <div class="w-10/12 md:w-1/2 flex flex-row items-center justify-between">
              <div class="flex flex-col items-center">
                <div class="w-10 md:w-12">
                  <img src="/GraphicRessources/Icons/arrow-width-plant.svg" alt="taille plante largeure" />
                </div>
                <p class="text-xs md:text-base">{{ plant.widenesses.width }}</p>
              </div>
              <div class="flex items-center">
                <div class="rotate-90 w-10 md:w-12">
                  <img src="/GraphicRessources/Icons/arrow-height-plant.svg" alt="taille plante hauteur" />
                </div>
                <p class="text-xs md:text-base">{{ plant.heights.height }}</p>
            </div>
            </div>  
          </div>
        </section>
        <section>
          <h3 class="font-inter font-bold text-2xl md:text-3xl md:text-center mb-2 ">Description</h3>
          <p class="md:text-justify font-bold text-md md:text-lg italic ">Famille: {{ plant.plant_family.name }}</p>
          <p class="md:text-justify pt-0 md:pt-3 pb-5">{{ plant.description }}</p>
        </section>
      </div>
    </div>
  </div>
  <!-- Menu Burger -->
  <UserMenu />
</template>