<script setup >
const props = defineProps({
  selected: {
    type: Boolean,
    default: false
  }
});
const klass = () => {
  let cls = "max-w-screen-sm shadow-container flex flex-col items-center justify-center w-full md:w-4/5 m-2 md:m-4 py-3 md:py-4 md:px-10 rounded-2xl duration-500 ease-out hover:bg-white hover:scale-110 hover:duration-500 cursor-pointer";
  if (props.selected) {
    cls += ' scale-110 bg-white ';
  }
  return cls;
}
</script>
<template>
  <div :class="klass()">
    <slot></slot>
  </div>
</template>
