<template>
  <div class="w-9 md:w-20 object-contain">
    <slot name="img"></slot>
  </div>
  <h3 class="text-sm md:text-base md:mb-3 mt-1 text-center">
    <slot name="title"></slot>
  </h3>
  <p class="text-center text-xs">
    <slot name="body"></slot>
  </p>
</template>