<script setup>
import CrossButton from './DesignSystem/Buttons/CrossButton.vue';

</script>


<template>
  <div class="flex justify-center fixed z-20 items-center h-full w-full top-0 left-0 " v-if="isPopupOpen">
    <div class="h-full w-full absolute bg-fog-color blur-background top-0 left-0"></div>
    <div
      class="flex justify-center items-center bg-white py-5 relative w-4/5 max-w-2xl rounded-2xl shadow-xl">
      <CrossButton @click="closePopup"/>
      <slot />
    </div>
  </div>
</template>



<script>
export default {
  data() {
    return {
      isPopupOpen: true
    };
  },
  methods: {
    closePopup() {
      this.isPopupOpen = false;
      document.querySelector("body").classList.remove("popup-open");
    }
  }
}
</script>

<style scoped>
.blur-background {
  backdrop-filter: blur(2px);
}
</style>
