<script setup>
import { router } from '@inertiajs/vue3';
import MainButton from './DesignSystem/Buttons/MainButton.vue';

const logout = () => {
    router.post(route('logout'));
};

</script>

<template>
    <div class="flex flex-col w-full h-full items-center px-1 py-2 ">
        <h2 class="text-center">
            <slot name="title"></slot>
        </h2>
        <p class="mt-4 text-center text-sm font-medium max-w-lg">
            <slot name="body"></slot>
        </p>
        <MainButton @click="logout" template="squared-button-orange" class="my-2" >
            Créer un compte
        </MainButton>
    </div>
</template>
