<script setup>
import TaskContainer from "@/Components/TaskContainer.vue";
import PlantTask from "@/Components/PlantTask.vue";

const props = defineProps({
  displayTabs: {
    type: Boolean,
    default: true
  },
  items: {
    type: Array,
    required: true
  }
})
</script>

<template>
  <div class=" flex flex-col items-center mt-6 max-w-lg">
    <nav class="bg-blue-100 rounded-full w-full px-1 py-1" v-if="displayTabs">
      <ul class="flex justify-between items-center">
        <li :class="{ 'bg-white': isActive === 'aujourd\'hui' }"
          class="rounded-full px-4 py-2 w-1/2 flex justify-center cursor-pointer" @click="isActive = 'aujourd\'hui'">
          Aujourd'hui
        </li>
        <li :class="{ 'bg-white': isActive === 'a venir' }"
          class="rounded-full px-4 py-2 w-1/2 flex justify-center cursor-pointer" @click="
            isActive = 'a venir';
          animateTab();
          ">
          A venir
        </li>
      </ul>
    </nav>

    <div v-if="displayTabs && isActive === 'aujourd\'hui'" class="w-full flex justify-center">
      <TaskContainer :items="items">
        <template #img>
          <img src="/GraphicRessources/Icons/PlayIcon.svg" alt="icone arrosoir">
        </template>
        <template #text> Arroser </template>
      </TaskContainer>
    </div>

    <div v-else-if="displayTabs && isActive === 'a venir'" class="mt-6 w-full flex relative">
      <div class="cercle w-8 h-8 ">
        <div class="w-8 h-8 rounded-full bg-blue-100 flex items-center justify-center border-4 border-white">
          <div class="w-4 h-4 rounded-full bg-blue-300 border-4 border-white"></div>
        </div>
      </div>
      <div class="detail flex flex-col ml-24">
        <h3>29 avril</h3>
        <TaskContainer>
          <template #img>
            <img src="/GraphicRessources/Icons/SprinklerIcon.svg" alt="icone arrosoir">
          </template>
          <template #text> Arroser </template>
        </TaskContainer>
      </div>
    </div>
    <div v-else>
      <PlantTask v-for="item of items">
        <template #imgPlante>
          <img src="/GraphicRessources/Icons/JeunePousseIcon.svg" alt="icone jeune pousse" class="w-14 h-14">
        </template>
        <template #NomPlante> {{ item.name }} </template>
        <template #Zone> Ma zone </template>
      </PlantTask>
    </div>
  </div>
</template>
  
<script>
export default {
  data() {
    return {
      isActive: "aujourd'hui",
    };
  },
  methods: {
    animateTab() {

    },
  },
};
</script>
  
<style scoped>
.cercle {
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
}

.detail {
  flex: 1;
}

.cercle::after {
  content: ' ';
  border-radius: 50px;
  width: 32px;
  height: 100%;
  display: block;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 30%, rgba(9, 9, 121, 1) 30%, rgba(9, 9, 121, 1) 70%, rgba(0, 212, 255, 0) 70%);
}

.bg-white {
  background-color: white;
}
</style>