<template>
    <div class="flex justify-center items-center cursor-pointer absolute w-7 h-7 md:h-8 md:w-8 top-4 right-4"
        @click="$emit('close-message-demo')">
        <svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.4323 22.4323L9.56767 9.56775M22.4323 9.56775L9.56767 22.4323" stroke="#000" stroke-width="2.5"
                stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>
</template>

