<script setup>
const props = defineProps({
    color: {
      type: String,
      default : '#828282'
    }
});
</script>

<template>
  <svg width="100%" height="100%" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="1.5" y="1" width="23" height="23" rx="6" :stroke="color" stroke-width="2"/>
    <rect x="5.5" y="5" width="7" height="7" rx="2" :stroke="color" stroke-width="2"/>
    <rect x="15.5" y="5" width="5" height="15" rx="2" :stroke="color" stroke-width="2"/>
    <rect x="5.5" y="15" width="7" height="5" rx="2" :stroke="color" stroke-width="2"/>
  </svg>
</template>