<script setup>
const props = defineProps({
    color: {
      type: String,
      default : '#828282'
    }
});
</script>


<template>
  <svg width="100%" height="100%" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M14.1667 26.3333C21.1623 26.3333 26.8333 20.6623 26.8333 13.6667C26.8333 6.67106 21.1623 1 14.1667 1C7.17106 1 1.5 6.67106 1.5 13.6667C1.5 20.6623 7.17106 26.3333 14.1667 26.3333Z"
      :stroke="color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M9.45837 25.4167H19.0417" :stroke="color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M12.3334 25.4167C17.6042 23.0208 13.1 19.2833 15.2084 15.8333" :stroke="color" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round" />
    <path
      d="M11.8542 15.2583C12.9084 16.025 13.5792 17.3667 14.0584 18.8042C12.1417 19.1875 10.7042 19.1875 9.45837 18.5167C8.30837 17.9417 7.25421 16.6958 6.58337 14.4917C9.26671 14.0125 10.8 14.4917 11.8542 15.2583Z"
      :stroke="color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    <path
      d="M16.2625 12C15.5319 13.1419 15.1644 14.4784 15.2084 15.8333C17.0292 15.7375 18.3709 15.2583 19.3292 14.4917C20.2875 13.5333 20.8625 12.2875 20.9584 10.0833C18.3709 10.1792 17.125 11.0417 16.2625 12Z"
      :stroke="color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M29.8595 29.3158L23.75 23.5144" :stroke="color" stroke-width="3" stroke-linecap="round"
      stroke-linejoin="round" />
  </svg>
</template>