<script setup>
import { computed } from 'vue';

const emit = defineEmits(['update:checked']);

const props = defineProps({
    checked: {
        type: [Array, Boolean],
        default: false,
    },
    value: {
        type: String,
        default: null,
    },
});

const proxyChecked = computed({
    get() {
        return props.checked;
    },

    set(val) {
        emit('update:checked', val);
    },
});
</script>

<template>
    <input v-model="proxyChecked" type="checkbox" :value="value"
        class="form-checkbox border-solid border-2 border-mustard focus:ring-mustard rounded-md checked:bg-mustard checked:shadow-checkbox-button transition duration-500 text-mustard cursor-pointer">
</template>
