<template>
    <img v-if="$page.props.jetstream.managesProfilePhotos" class="flex items-center justify-center rounded-full object-cover"
        :src="$page.props.auth.user.profile_photo_url" 
        :alt="$page.props.auth.user.name">

    <div v-else>
        <svg width="32" height="32" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_581_24335)">
                <path
                    d="M15 0C6.72 0 0 6.72 0 15C0 23.28 6.72 30 15 30C23.28 30 30 23.28 30 15C30 6.72 23.28 0 15 0ZM15 6C17.895 6 20.25 8.355 20.25 11.25C20.25 14.145 17.895 16.5 15 16.5C12.105 16.5 9.75 14.145 9.75 11.25C9.75 8.355 12.105 6 15 6ZM15 27C11.955 27 8.355 25.77 5.79 22.68C8.41741 20.6186 11.6604 19.4982 15 19.4982C18.3396 19.4982 21.5826 20.6186 24.21 22.68C21.645 25.77 18.045 27 15 27Z"
                    fill="#002A42" />
            </g>
            <defs>
                <clipPath id="clip0_581_24335">
                    <rect width="30" height="30" fill="white" />
                </clipPath>
            </defs>
        </svg>
    </div>
</template>