<script setup>
  import { ref, computed } from 'vue';
  import { usePage, Link } from '@inertiajs/vue3'
  import Footer from '@/Components/Footer.vue';
  import MainButton from '@/Components/DesignSystem/Buttons/MainButton.vue';
  import ScoreScale from '@/Components/DesignSystem/ScaleWidgets/ScoreScale.vue';

  const page = usePage();

  const search = ref('');

  const plants = computed(() => {
    return page.props.plants;
  });

  const difficulty_max = computed(() => {
    return page.props.difficulty_max;
  });
  
  const filteredPlants = computed(() => {
    if (search.value) {
      return plants.value.filter(plant => {
        return plant.name.toLowerCase().includes(search.value.toLowerCase());
      });
    } else {
      return plants.value;
    }
  });

  const plantUrl = (id) => {
    return route('single_plant_definiton.show', id);
  }

console.log(plants)
</script>

<template>
  
  <div class="flex justify-center px-4 py-2">
    <div class="relative rounded-lg w-full md:w-1/2 xl:w-1/4">
      <span class="absolute inset-y-0 left-0 flex items-center pl-3">
        <img src="/GraphicRessources/Icons/magnifier-icon.svg" alt="Search" class="h-4 w-4" />
      </span>
      <input type="search" v-model="search" placeholder="Chercher ma plante..." class="pl-10 placeholder:text-white placeholder:text-sm md:placeholder:text-base text-white w-full rounded-lg border-none bg-mustard focus:outline-none focus:ring-0">
    </div>
  </div>

  <section class="flex justify-center w-full px-4 md:px-16 py-6 md:py-8 pb-16 lg:pb-10" v-if="filteredPlants.length">
      <div class="grid grid-flow-row-dense w-screen gap-x-4 gap-y-4 md:gap-x-8 md:gap-y-6 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-items-start">
        <div v-for="plant in filteredPlants"
          class="w-full h-full flex-row">
          <!-- Start of single card -->
          <Link :href="plantUrl(plant.id)">
            <div class="w-full h-24 md:h-52 rounded-xl overflow-hidden">
              <img :src="plant.picture" :alt="plant.name" class="w-full h-full object-cover" loading="lazy">
            </div>
            <div class="flex flex-col justify-between px-0.5">
              <div class="w-full h-full flex-wrap">
                <p class="mt-px md:mt-1 truncate capitalize overflow-ellipsis text-sm md:text-base">{{ plant.name }}</p>
              </div>
              <div class="flex h-full md:mt-px">
                <div class="flex justify-between items-center w-full flex-row">
                  <p class="mt-px text-xs md:text-sm italic text-gray-500">{{ plant.difficulty_name }}</p>
                  <ScoreScale :level="plant.level" :max="difficulty_max" layout="dots"/>
                </div>
              </div>
            </div>
          </Link>
        </div>
      </div>
  </section>
  <div v-else class="w-screen h-svh-75 flex justify-center items-center z-10">
    <div class="flex flex-col items-center">
      <p class="text-center text-2xl font-bold">Aucune plante trouvée..</p>
      <MainButton class="mt-4" > 
        <!-- #FIXME need to be passed the route :href="route('plant_definitions.create')" -->
          Demander à l'ajouter
    </MainButton>
    </div>
  </div>
  <Footer/>
</template>


<style scoped>
/* Change the style of search cross and add the magnifier icone */

/* Chrome */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="white"><path d="M2 2l8 8M2 10L10 2" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/* Firefox */
input[type="search"]::-moz-search-clear-button {
  -moz-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="white"><path d="M2 2l8 8M2 10L10 2" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

</style>
