<script setup>
import { Head, useForm, Link } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import TextInput from '@/Components/DesignSystem/Input/TextInput.vue';
import LoggedoutLayout from "@/Layouts/LoggedoutLayout.vue";
import MainButton from '../../Components/DesignSystem/Buttons/MainButton.vue';


defineProps({
  status: String,
});

const form = useForm({
  email: '',
});


const submit = () => {
  form.post(route('password.email'), {  
    onFinish: () => {
      form.reset();
    },
  });
};
</script>

<template>
  <form @submit.prevent="submit">
    <LoggedoutLayout title="Mot de passe oublié">

      <div class="text-left mb-3">
        <h1 class="text-2xl md:text-3xl">
          Un oubli ?
        </h1>
        <h3>
          On peut vous aider grâce à votre mail !
        </h3>
      </div>

      <div>
        <div>
          <TextInput ref="" @keydown.enter="submit" id="email" v-model="form.email" type="email"
            class=" mt-1 block w-full" required autofocus autocomplete="email"
            oninvalid="this.setCustomValidity('Merci de rentrer une adresse mail valide')"
            oninput="this.setCustomValidity('')" placeholder="Email" />
          <p v-if="!form.errors.email" class="mb-4 mt-5 text-center text-xxs md:text-xs">
            Un e-mail de réinitialisation va vous être envoyé sous peu, il est possible qu’il se
            retrouve
            dans vos spams !
          </p>
        </div>
        <div class="mb-4 mt-5">
          <InputError v-if="form.errors.email" class="mt-2" :message="form.errors.email" />
        </div>
        <p v-if="status" class="text-center mb-4 font-medium text-sm">
          {{ status }}
        </p>
      </div>


      <div class="flex-col items-center justify-center mb-3 lg:mb-8">
        <div class="flex justify-center">
          <MainButton type="submit" :class="{ 'opacity-25': form.processing }">
            Envoyer une demande
          </MainButton>
        </div>
      </div>
    </LoggedoutLayout>
  </form>
</template>
