<script setup>
import { ref } from 'vue';
import { Head, Link, useForm } from '@inertiajs/vue3';
import AuthenticationCard from '@/Components/AuthenticationCard.vue';
import SmallCheckbox from '@/Components/DesignSystem/Buttons/SmallCheckbox.vue';
import InputError from '@/Components/InputError.vue';
import SubmitButton from '@/Components/DesignSystem/Buttons/SubmitButton.vue';
import TextInput from '@/Components/DesignSystem/Input/TextInput.vue';
import LoggedoutLayout from "@/Layouts/LoggedoutLayout.vue";
import MainButton from "@/Components/DesignSystem/Buttons/MainButton.vue";

defineProps({
  canResetPassword: Boolean,
  status: String,
});

const form = useForm({
  email: '',
  password: '',
  remember: false,
});

const errorMessages = ref([]); // Define errorMessages as a reactive reference

const submitForm = () => {
  form.transform(data => ({
    ...data,
    remember: form.remember ? 'on' : '',
  })).post(route('login'), {
    onFinish: () => form.reset('password'),
    onError: (errors) => {
      // Add the error message to the array
      errorMessages.value.push('Une ou plusieurs informations ne sont pas compatibles avec les données dont nous disposons.');

      // Set the form error
      form.setError({
        password: 'Une ou plusieurs informations ne sont pas compatibles avec les données dont nous disposons.'
      });
    }
  });
};


</script>

<template>
  <LoggedoutLayout title="Se connecter" typeoflayout="default">

    <form 
      @submit.prevent="submitForm" 
      class="w-full h-3/4 flex flex-col justify-between px-4 max-w-xl">
      <div class="text-left">
        <h1>
          Bienvenue !
        </h1>
        <h3>
          Connecte toi à ton compte
        </h3>
      </div>

      <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
        {{ status }}
      </div>

      <div>
        <div class="flex justify-end mt-5 mb-3">
          <Link v-if="canResetPassword" :href="route('register')" class="underline">
            <p class="text-xs font-semibold">
              Créer un compte
            </p>
          </Link>
        </div>

        <div>
          <TextInput id="email" v-model="form.email" type="email" class="mt-1 block w-full" required autofocus
            oninvalid="this.setCustomValidity('Merci de rentrer une adresse e-mail valide')"
            oninput="this.setCustomValidity('Cette adresse e-mail nest pas une adresse mail valide')"
            autocomplete="username" placeholder="Email" />

        </div>
        <div class="mt-4">
          <TextInput id="password" v-model="form.password" type="password" class="mt-1 block w-full" required
            autocomplete="current-password" placeholder="Mot de passe" />
        </div>

        <div class="block mt-4 mb-14 lg:mb-24 ">
          <label class="flex items-center">
            <SmallCheckbox v-model:checked="form.remember" name="remember" />
            <span class="ml-2 text-sm text-gray-600">
              Ne plus me demander
            </span>
          </label>
        </div>
        <InputError v-if="form.errors.password || form.errors.email" class="mt-2 text-center"
          :message="form.errors.password">
        </InputError>

      </div>

      <div class="flex flex-col items-center justify-center ">
        <MainButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing" @click="submitForm" template="squared-button-orange-big">
          Se connecter
        </MainButton>

        <Link v-if="canResetPassword" :href="route('password.request')" class="flex justify-center text-main-green hover:text-black underline lg:mb-4 text-xs font-semibold transition-colors duration-200 ease-in-out mt-3">
          Mot de passe oublié ?
        </Link>
      </div>

    </form>
  </LoggedoutLayout>
</template>
