<script setup>
import { computed } from 'vue';
import { useRegisterStore } from '@/Store/registerStore'

const store = useRegisterStore()

const style = computed(() => `width: ${Math.trunc(100 * store.step / store.maxSteps)}%;`);
</script>

<template>
  <div class="flex flex-col items-center w-2/5">
    <div class="progress-container bg-third-40 w-full min-w-4 h-3 rounded-full shadow-progress-bar-login">
      <div class="progress-bar bg-main-green h-3 rounded-lg shadow-progress-bar-login" :style="style"/>
    </div>
  </div>
</template>


<style scoped>
.progress-container {
  min-width: 100px;
}

.progress-bar {
  width: 0%;
}
</style>