<script setup>
defineProps({
  level: {
    type: Number,
    default: 1,
  },
  milestone: {
    type: Number,
    default: 10,
  },
});
</script>

<template>
  <div class="flex flex-col items-center w-2/5">
    <div class="progress-container bg-main-color w-full min-w-4 h-1.5 border-0 rounded-full">
      <div class="progress-bar bg-particule-second h-1.5 rounded-lg" :style="style"></div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    style() {
      return "width: " + Math.trunc(100 * this.level / this.milestone) + "%;"
    }
  }
};


</script>

<style scoped>
.progress-container {
  min-width: 100px;
}

.progress-bar {
  width: 5%;
}
</style>